*{
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}
 
.clear{
    clear: both;
}
  
.slide-toggle{
    display: none;
}
  
.slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}
  
.slidemenu label{
    width: 20%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
}

.slidemenu a {
    text-decoration: none;
    color: inherit;
}

.slidemenu label:hover{
    cursor: pointer;
    color: #543;
}
  
.slidemenu label span{
    display: block;
    padding: 10px;    
}
  
.slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
}
  
  /*Bar Style*/
  
.slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}
  
.slider .bar{
    width: 20%;
    height: 5px;
    background: #333;
    border-radius: 5px;
}
  
  /*Animations*/
.slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}
  
  /*Toggle*/
.slidemenu .slide-toggle:checked + label{
    opacity: 1;
}
  
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 20%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 80%; }


.menu {
    background-color: rgb(173, 205, 214);
    position: relative;
    margin: 10px;
    padding: 30px;
    width: 60%;
    height: 300px;
    overflow: auto;
    top: 5vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.menu h3 {
    position: relative;
    top: 85%;
}

.menu button {
    font-size: medium;
    background: none;
    border: none;
}

.menu button:hover{
    cursor: pointer;
    font-weight: bold;
}

.center {
    position: relative;
    left: 15vw;
}

.search{
    position: relative;
    
}

.search input{
    height: 35px;
    border-radius: 20px;
    width: 270px;
    text-align: end;
    padding: 0px 10px;
    margin: 0px 10px;
}

/* #cart {
    display: none;
} */


.main {
    background-color: rgb(173, 205, 214);
    position: absolute;
    margin: 10px;
    width: 60%;
    height: 300px;
    overflow: auto;
    top: 30vh;
    display: none;
}

/* autocomplete */
.autocomplete-items {
    position: absolute;
    display: block;
    border: 1px solid #d4d4d4;
    z-index: 99;
    top: 100%;
    left: 10%;
    right: 10%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

.lineBtwn {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.phoneInfo {
    background-color: rgb(173, 205, 214);
    position: absolute;
    margin: 10px;
    width: 60%;
    height: 300px;
    overflow: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
}

.phoneInfo a {
    font-size: medium;
}

.listPhones {
    list-style: none;
}